
body{
      background-image:url("dark-wood.jpg");
      background-size:100%;
      background-repeat:no-repeat;
    }
header{
        background-image:url("header.jpg");
        width: 1200px;
        height:125px;
        background-size:100%;
        background-repeat:no-repeat;
      }
footer{
  background-color:#a6a6a6;
  bottom: 0%;
  width:1200px;
  height:5%;
  color: black;
  position:sticky;
  text-align: left;
}
.border{
  margin-left: auto;
  margin-right: auto;
  height:750px;
  width: 1200px;
  background: white;
}
.bordertotext{
              background-color:#a6a6a6;
              color:white;
              font-size:20px;
              padding-left:30px;
              text-decoration: none;
            }
  .bordertotext:hover{
                      color:black;
                      }
.home{
  height: 30px;
  top:150px;
  width: 1200px;
  background:#a6a6a6;
  position: absolute;
}
.div1{
  width:25%;
  height: auto;
}
hr{
  border-bottom: 0.1px solid #b3b3b3;
}
.line{
  border-left: 0.1px solid gray;
}
#image{
  border: 0.1px solid #b3b3b3;
  margin-left:4%;
  margin-top:2%;
  padding: 6px;
}
.div2{
  width:20%;
  height: auto;
  position: absolute;
  margin-left: 400px;
  top:250px;
}
.div3{
  width:20%;
  height: auto;
  position: absolute;
  margin-left: 400px;
  top:500px;
}
.div4{
  width:25%;
  height: auto;
  position: absolute;
  margin-left: 750px;
  top:230px;
}
.div5{
  width:25%;
  height: auto;
  position: absolute;
  margin-left: 750px;
  top:525px;
}
.head{
  font-size: 27px;
}
.head1{
  font-size: 23px;
}
.head2{
  font-size: 20px;
}

.gray{
  color:gray;
}
.red{
  color:red;
}
